body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.box {
  border: solid 1px black;
  margin-bottom: 12px;
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

input {
  width: 200px;
}

a {
  color: white;
  background-color: black;
  padding: 5px;
}

a:hover {
  background-color: #00b7ff;
  border: solid 1px black;
  color: black;
}

#message {
  height: 80px;
}

label {
  margin-bottom: 2px;
}
